<!DOCTYPE html>
<html ng-app="app" ng-controller="MyController as ctrl">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="style.css" />
    <link rel="stylesheet" href="awesome-font\font-awesome-4.6.3\css\font-awesome.min.css" />
    <link rel="stylesheet" href="bootstrap\bootstrap-3.3.6-dist\css\bootstrap.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/1.2.0/ui-bootstrap-tpls.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"> </script>
    <script src="datetime-picker.js"></script>
    <script src="script.js"></script>
</head>
<body style="padding:10px;" class="container-fluid">
<h1>AJOUTER EVENEMENT</h1>
<hr />

<div align="center">
<div class="MainContainer">


  <form class="form-horizontal">
      <div class="form-group">
            <label class="col-sm-4 control-label" for="event">Titre :</label>
            <div class="col-sm-8">
              <p class="input-group">
                <input type="text" class="form-control" size="50" name='event' id="event"  />
              </p>
              <div id="errorMessage-titre">
              </div>
            </div>
      </div>

   </form>
   <form class="form-horizontal">
     <div class="form-group">
          <label class="col-sm-4 control-label">Date :</label>
          <div class="col-sm-5">
            <p class="input-group">
            <input type="text" id="date"
            class="form-control"
            datepicker-popup="dd-MMMM-yyyy"
            datetime-picker="mediumDate"
            ng-model="ctrl.picker1.date"
            is-open="ctrl.picker1.open"
            enable-time="false"
            datepicker-options="ctrl.picker1.datepickerOptions"
            min-Date="minDate"
            date-disabled="disabled(date, mode)"
            close-on-date-selection="false"
            datepicker-append-to-body="true" />
              <span class="input-group-btn">
                  <button type="button" class="btn btn-default" ng-click="ctrl.openCalendar($event, 'picker1')"><i class="fa fa-calendar"></i></button>
              </span>
            </p>
            </div>
            <div class="col-sm-3">
              <p class="input-group">
              <input type="text" id="time" stepping="30" class="form-control " datetime-picker="HH:mm" ng-model="ctrl.picker2.date" is-open="ctrl.picker2.open" enable-date="false" timepicker-options="ctrl.picker2.timepickerOptions" close-on-selection="true" />
              <span class="input-group-btn">
                  <button type="button" class="btn btn-default" ng-click="ctrl.openCalendar($event, 'picker2')"><i class="fa fa-clock-o"></i></button>
              </span>
              </p>
            </div>
     </div>
   </form>

    <form class="form-horizontal">
        <div class="form-group">
          <div class="lieuContainer">
						<label class="col-sm-4 control-label" for="lieu">Lieu :</label>
            <div class="col-sm-8">
              <p class="input-group">
						      <input type='text' class="form-control" size="50"  name="lieu" id="lieu"  />
              </p>
              <div id="errorMessage-lieu">
              </div>
            </div>

        </div>
        <div class="lieuContainer">
          <!-- <img src="map-icon.png" width="30"/> -->
        </div>

    </form>

    <form class="form-horizontal">
        <div class="form-group">

						<label class="col-sm-4 control-label" for="description">Description :</label>
            <div class="col-sm-8">
              <p class="input-group">
                  <textarea name='description' class="form-control"  rows="10" cols="52"  id='description' ></textarea>
              </p>
              <div id="errorMessage-description">
              </div>
            </div>

        </div>

    </form>


    <form class="form-horizontal">
        <div class="form-group">

						<label class="col-sm-4 control-label" for="mot_clefs">Motsclefs :</label>
            <div class="col-sm-8">
              <p class="input-group">
						      <input placeholder="Mot clef 1, Mot clef 2, Mot clef 3" type='text' class="form-control " size="50" name='motclefs' id="motclefs"  />
              </p>
              <div id="errorMessage-motclefs">
              </div>
            </div>

        </div>

    </form>

    <p>
        <input type='submit' value='Ajouter' onclick="submitform()" />
    </p>
    <div id="errorMessage">
    </div>


  </div>
</div>
</body>

</html>
