.form-horizontal {
   width:700px;
}
.container-bar {
   height:100px;
}
.form-horizontal-blank {
   height: 50px;
}
.form-horizontal-blank-small {
   height: 20px;
}
.form-horizontal-blank-medium {
   height: 25px;
}
.form-horizontal-titre {
   height: 100px;
}
.form-horizontal-email {
   height: 70px;
}
.form-horizontal-password {
   height: 50px;
}
.form-horizontal-forgot {
   height: 70px;
}
.form-space {
   width:100px;
}
#banner  {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#element1 {
  margin-right: 10px;
  align-items: flex-end;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

rightBanner :{

  align-items: flex-end;
}
MainContainer : {
align-items: flex-end;
width :700px;
}
.RowContrainer:{
    margin-bottom:($spacer-x * 1.5) !important;
}
lieuContainer {

  flex-direction: column;
  align-items: center;
}


.dateTime {

  width : 600px;

}

dateContainer {
flex-direction: row;;

}

.datetime-picker-dropdown {

}

.datetime-picker-dropdown > li.date-picker-menu div > table .btn-default {
  border: 0;
}

.datetime-picker-dropdown > li.time-picker-menu div > table {

}
